* {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.cake-container {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 100;
}

.large-btn {
  padding: 15px;
  width: 200px;
  height: 80px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: orangered;
  font-size: 1.5rem;
  color: white;
  transition: all 0.2s;
}

button:hover {
  background: rgb(231, 63, 1);
}